@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

:root {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: white; 
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
}

#actions {
    display: grid;
    grid-template-columns: repeat(3, minmax(90px, 100px));
    margin: 1em 3em 2em auto;
    gap: 1rem;
}

.action button {
    background-color: rgb(61, 167, 243);
    width: 90px;
    height: 36px;
    border-radius: 20px;
    border: none;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
}

.action button:hover {
    background-color: rgba(0, 122, 209, 0.6);
}

#logo {
    padding-top: 1rem;
    grid-row-start: 1;
    grid-column-start: 1;
    background-color: rgb(61, 167, 243);
    text-indent: 1.5rem;
    font-size: 1.6rem;
    font-weight: 900;
    color: white;
    display: grid;
    grid-template: 50px / 4rem 1fr;
    justify-content: left;
    align-items: center;
}

#logo > span {
    font-size: 45px;
    grid-column-start: 1;
}

#sidebar {
    grid-column: 1 / 2;
    grid-row-start: 1;
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 2rem 1fr;
    align-content: flex-start;
    line-height: 3rem;
    background-color: rgb(61, 167, 243);
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    /* text-indent: .5rem; */
}

#sidebar > div,
#logo > div {
    display: grid;
    grid-template: 1fr / 3rem 1fr;
    grid-column-start: 2;
}

#sidebar div > span {
    padding-top: .25em;
    grid-column-start: 1;
}

#sidebar div > div,
#logo > div {
    grid-column-start: 2;
}

#sidebar :nth-last-child(3) {
    margin-top: 3.3rem;
}

#main {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 160px 1fr;
    grid-template-columns: 3.6fr 1.6fr;
    background-color: rgb(222, 222, 222);
    margin-bottom: 2rem;
}

#header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    height: 100%;
    background-color: white;
    display: grid;
    grid-template: 1fr 1fr / 3fr 2fr;
    box-shadow: 0 2px 5px rgba(128, 128, 128, 0.25);
    margin-bottom: 2rem;
}

#content {
    display: grid;
    grid-template-rows: 3.5rem 1fr;
    grid-auto-rows: minmax(100px, 1fr);
    padding-top: 1rem;
    margin-bottom: 6rem;
}

#cards {
    grid-row-start: 2;
    display: grid;
    grid-template-columns: repeat(2, minmax(180px, 1fr));
    width: 100%;
    gap: 1.3rem;
    margin-left: 1rem;
    font-size: 1em;
    align-content: space-between;
}

.card:first-line {
    font-weight: 900;
    font-size: 1.1rem;
    line-height: 1.5em;
}

.card {
    border-left: 0.45rem solid rgb(245, 178, 35);
    border-radius: .4rem;
    background-color: white;
    padding: 2rem 1em 0 1rem;
    margin: 0;
    height: 180px;
    line-height: 1.3em;
}

#rightSidebar {
    grid-column: 2 / 3;
    grid-row-start: 2;
    display: grid;
    padding: 1rem 2rem 0;
    grid-template-rows: 3.5rem 1fr 3.5rem 1fr;
    margin-bottom: 6rem;
}

#announcements {
    grid-row: 2 / 3;
    background-color: white;
    border-radius: .4rem;
    margin-left: .8em;
    padding: .5em;
    justify-content: center;
    justify-items: center;
    display: grid;
    grid-template: 1px 1fr 1px / 1fr;
}

#announcements div {
    grid-row: 2 / 3;
    display: grid;
    grid-template: repeat(auto-fit, 1fr) / 1fr;
    justify-content: center;
}

.announcement:first-line {
    font-weight: 900;
    font-size: .9rem;
    line-height: 1.2rem;
}

.announcement {
    font-size: 0.8rem;
    border-bottom: .5px solid rgba(128, 128, 128, 0.545);
    padding: 1rem;
    margin: 0 .7rem;
    line-height: 1.3em;
}

.announcement:last-child {
    border-bottom: none;
}

#trending {
    grid-row: 3 / 5;
    display: grid;
    grid-template-rows: 3.5rem 1fr;
    grid-template-columns: 1fr;
    margin-top: 2rem;
}

#trending div {
    background-color: white;
    border-radius: .4rem;
    margin-left: .8em;
    padding: .5em;
}

.trenders {
    border-radius: .4rem;
    margin: 0;
    display: grid;
    grid-template: repeat(auto-fill, 1fr) / 1fr;
}

h3 {
    background-color: unset;
    text-indent: 1rem;
}